@font-face {
    font-family: 'headings';
    src: url('/static/fonts/LeprechaunHats-vLy.ttf');
}

@font-face {
    font-family: 'body-text';
    src: url('/static/fonts/CelticHand.ttf');
}

@font-face {
    font-family: 'irish';
    src: url('/static/fonts/irish.ttf');
}

/* === COLOR VARIABLES === */
:root {
    --light-green: rgb(2, 138, 25);
    --off-white: rgb(250, 235, 215);
    --light-shadow: rgba(0, 0, 0, .25);
    --dark-text: rgb(8, 8, 8);

    --screen-size: 500px;
}

/* === GLOBAL === */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: url(../img/main-bg-tr.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'body-text';
    letter-spacing: .8rem;
}

body a {
    text-decoration: none;
}

#main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.dark-text {
    color: var(--dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'headings', sans-serif;
}

h1,
h2 {
    color: var(--off-white);
}

/* === BACKGROUND BITS ===  */


/* Corner frame */
.corner-frame img {
    display: none;
}

/* === INTRO ANIMATIONS === */

#intro-animation {
    top: 0;
    left: 0;
    background: var(--light-green);
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#intro-animation h1 {
    font-size: 4rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    border-top: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
    animation: scrollLetters 2.8s forwards;
    animation-delay: 1.15s;
}

@keyframes scrollLetters {
    10% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    35% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    70.5% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    90.6% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}

#running-leprechaun,
#chasing-paddy {
    opacity: 0;
    position: absolute;
    height: 300px;
    width: 500px;
    right: 50%;
    transform-style: preserve-3d;
    transition: opacity .3s ease-in-out;
    animation: runLeprechaunRun 4s ease-in-out 1;
}

#chasing-paddy {
    transform: scaleX(-1);
    animation-delay: 1.5s;
}

@keyframes runLeprechaunRun {
    0% {
        opacity: 0;
        right: -10%;
    }

    28% {
        opacity: 1;
    }

    78% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        right: 100%;
    }
}

#intro-animation.hide {
    transition: opacity .3s ease-in-out;
    animation: fadeOut 1.4s forwards;
    animation-delay: 4s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

/* === END INTRO ANIMATIONS === */


/* === GREETING CARD === */

.card {
    min-width: var(--screen-size);
    min-height: var(--screen-size);
}

#greeting-card,
#greeting-card-snap {
    background: transparent;
    width: var(--screen-size);
    height: var(--screen-size);
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px var(--light-shadow);
    transition: all 1s ease-in-out;
    animation: fadeInCard 3s forwards;
}

@keyframes fadeInCard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body .container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body .container-fluid .row,
body .container-fluid .row .col-12 {
    margin: 0;
    padding: 0;
}

.has-greeting-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    background: url(/static/img/main-frames/mobile-frame-final.png) no-repeat center center;
    background-size: cover;
}

/* === CARD CUTOUTS === */

#greeting-card-cutout {
    width: 100%;
    height: 100%;
    background: url('/static/img/cutouts/cutout-1-v2.png');
    background-position: top center;
    background-size: cover;
    object-fit: contain;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting-card-camera {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#greeting-card-camera video,
#greeting-card-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#greeting-card-canvas,
#greeting-card-image {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    display: none;
}

#greeting-card-image.show {
    display: block;
}

.greeting-card-image-center {
    left: auto !important;
    transform: none !important;
}

/* === ON SHOW CARD BUTTON WRAPPER === */
.another-snap {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* === BUTTONS === */

#snap-buttons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#startbutton,
#clearbutton,
#snapbutton {
    position: absolute;
}

#startbutton,
#clearbutton,
#snapbutton,
#take-new-snap,
#share-to-facebook,
#share-to-twitter {
    text-decoration: none;
    font-size: 45px;
    color: #014d0e;
    transition: .3s ease-in-out;
}


=======
#startbutton:hover,
#clearbutton:hover,
#snapbutton:hover,
#take-new-snap:hover,
#share-to-facebook:hover,
#share-to-twitter:hover {
    border-radius: 50%;
}

#startbutton,
#clearbutton,
#snapbutton,
#take-new-snap,
#share-to-facebook,
#share-to-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 180px;
    border: none;
    border-radius: 16px;
}

/* === SITE BUTTONS === */
#startbutton
{
    
    border-radius: 25px 25px 60px 60px;
    margin-top: 205px;
    background: #FF9900;
    box-shadow:  5px 5px 10px #492c00,
                -2px -2px 10px #6d4509;
}

#clearbutton
{
    border-radius: 25px 25px 60px 25px;
    top: 45px;
    right: 28%;
    background: #f14a17;
    box-shadow:  5px 5px 10px #601800,
                -2px -2px 10px #8f503b;
}

#snapbutton
{
    border-radius: 25px 25px 25px 60px;
    top: 45px;
    left: 28%;
    background: #ccb100;
    box-shadow:  5px 5px 10px #726300,
                -2px -2px 5px #8a7d2d;
}

#take-new-snap
{
    margin: 16px;
    background: #FF9900;
    box-shadow: 5px 5px 10px #492c00,
        -2px -2px 10px #6d4509;
}

#share-to-facebook {
    margin: 16px;
    color: #0c87ef;
    background: #fafafa;
    box-shadow: 5px 5px 10px #292929,
        -2px -2px 10px #6e6565;
}

#share-to-twitter {
    margin: 16px;
    background: #00A2F3;
    color: #fafafa;
    box-shadow: 5px 5px 10px #013853,
        -2px -2px 10px #0c567a;
}

#startbutton {
    margin-top: 205px;
    background: #FF9900;
    box-shadow: 5px 5px 10px #492c00,
        -2px -2px 10px #6d4509;
}

#clearbutton {
    top: 70px;
    right: 30%;
    background: #f14a17;
    box-shadow: 5px 5px 10px #601800,
        -2px -2px 10px #8f503b;
}

#snapbutton {
    top: 70px;
    left: 30%;
    background: #ccb100;
    box-shadow: 5px 5px 10px #726300,
        -2px -2px 5px #8a7d2d;
}

i {
    margin-bottom: 2px;
}

#clearbutton,
#snapForm {
    display: none;
}

.snap-file {
    display: none;
}



/* ===OUTER CARD CONTENT=== */

#show-snap-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 120px 0;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    animation: slideDownOnShowSnap 2.2s forwards;
    animation-delay: 2s;
}

@keyframes slideDownOnShowSnap {
    100% {
        bottom: 0;
    }
}

#greeting-card-cover {
    background: url('/static/img/profile_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    z-index: 5;
}

.slide-cover {
    animation: cardFlip 2.2s forwards;
    animation-delay: 2s;
}

@keyframes cardFlip {
    100% {
        transform: translateY(-100%);
    }

}


.shamrock-icon {
    width: 25px;
    height: 25px;
}

/* ===INNER CARD CONTENT=== */

/* left content */
.greeting-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/static/img/greetingCard/card-inner-bg.png) no-repeat center center;
    background-size: cover;
    border: 1px solid var(--light-green);
}

/* right content */
#inner-card-content {
    height: 100%;
    width: 100%;
    padding: 95px 110px;
    border: 1px solid var(--light-green);
}

#inner-card-content {
    color: var(--light-green);
    font-size: 120%;
}

.social-share {
    margin: 20px 0 10px 0;
    border-radius: 16px;
    background: var(--light-green);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-share>p {
    font-family: 'irish', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 20px;
    margin: 0;
}

.social-share>p span {
    font-family: sans-serif;
    line-height: 20px;
}

/* === MEDIA QUERIES === */

@media screen and (min-width: 768px) {
    #snapbutton {
        height: 120px;
        width: 120px;
    }

    #share-to-facebook,
    #share-to-twitter,
    #take-new-snap {
        height: 120px;
        width: 120px;
        /* margin-top: 10px !important; */
    }

    #startbutton,
    #clearbutton,
    #snapbutton
    {
        height: 100px;
        width: 140px
    }

    #startbutton
    {
        width: 160px;
        margin-top: 120px;
    }

    #clearbutton,
    #snapbutton
    {
        margin-top: -40px;
    }

    #show-snap-wrap {
        padding: 40px 0;
    }

    .has-greeting-card {
        background-size: contain;
    }

    .greeting-card-col {
        padding-top: 160px !important;
    }
}

@media screen and (min-width: 1024px) {
    #startbutton,
    #take-new-snap,
    #snapbutton,
    #clearbutton,
    #share-to-facebook,
    #share-to-twitter {
        height: 70px;
        width: 70px;
    }

    #clearbutton,
    #snapbutton,
    #show-snap-wrap {
        padding: 0 0;
    }

    .has-greeting-card {
        background: url(/static/img/main-frames/desktop-frame-v8.png) no-repeat center center;
        background-size: auto;
        height: 100vh;
    }

    .corner-frame img {
        display: block;
        position: absolute;
        overflow: hidden;
        width: 25%;
    }

    .greeting-card-col {
        padding-top: 40px !important;
    }

    .top-left img {
        top: -13%;
        left: -6%;
    }

    .bottom-right img {
        bottom: -13%;
        right: -6%;
    }
}

@media screen and (min-width: 1200px)
{
    /* === BUTTON HOVER ANIMATE BORDER RADIUS === */

    #startbutton:hover,
    #clearbutton:hover,
    #snapbutton:hover,
    #take-new-snap:hover,
    #share-to-facebook:hover,
    #share-to-twitter:hover
    {
        border-radius: 50%;
    }

    #startbutton,
    #clearbutton,
    #snapbutton,
    #take-new-snap,
    #share-to-facebook,
    #share-to-twitter
    {
        width: 70px;
        height: 70px;
    }

    #startbutton
    {
        margin-top: 95px;
    }

    #clearbutton
    {
        right: 33%;
    }

    #snapbutton
    {
        left: 33%;
    }

    #startbutton,
    #clearbutton,
    #snapbutton
    {
        border-radius: 16px;
    }
  /* === SOCIAL MEDIA SHARE LINKS === */

    .social-share>p {
        font-size: 42px;
        line-height: 40px;
    }

    .social-share>p span {
        line-height: 30px;
    }

    /* === PC VIEW ANIMATIONS === */

    #greeting-card-cover {
        transform-origin: left;
        transform-style: preserve-3d;
        animation: afterSnap 2.2s forwards;
        animation-delay: .6s;
    }

    /* ANIMATION OPENS CARD AFTER SNAP TAKEN */
    @keyframes afterSnap {
        100% {
            transform: rotateY(-180deg);
        }
    }

    /* Slide Card on Open after SNAP taken */
    #greeting-card-snap {
        animation: afterSnapSlide 2.2s forwards;
        animation-delay: .6s;
    }

    @keyframes afterSnapSlide {

        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(50%);
        }
    }
}