#greeting-card {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

#greeting-card-cutout {
    width: 100%;
    height: 100%;
    background: url('/static/img/hackpaddy-2.png');
    background-position: top center;
    background-size: cover;
    z-index: 2;
    position: absolute;
}

#greeting-card-camera {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#greeting-card-canvas, #greeting-card-image {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    display:none;
}

#clearbutton {
    display:none;
}

.snap-file {
    display: none;
}