@font-face {
    font-family: 'headings';
    src: url('/static/fonts/LeprechaunHats-vLy.ttf');
}
@font-face {
    font-family: 'body-text';
    src: url('/static/fonts/CelticHand.ttf');
}


:root 
{
    --light-green: rgb(2, 138, 25);
    --off-white: rgb(250, 235, 215);
    --light-shadow: rgba(0, 0, 0, .25);
    --dark-text: rgb(8, 8, 8);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    overflow: hidden;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: url(../img/main-bg-tr.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'body-text';
    letter-spacing: .8rem;
}

button
{
    padding: 25px;
}

.another-snap
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ANIMATIONS */

#intro-animation
{
    top: 0;
    left: 0;
    background: var(--light-green);
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#main-body
{
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'headings';
}

h1, h2 {
    color: var(--off-white) ;
}

.dark-text
{
    color: var(--dark-text);
}

#intro-animation h1
{
    font-size: 4rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    border-top: 2px solid var(--off-white);
    border-bottom: 2px solid var(--off-white);
    animation: scrollLetters 2.8s forwards;
    animation-delay: 1.15s;
}

@keyframes scrollLetters
{
    10%
    {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    35%
    {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    70.5%
    {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    90.6%
    {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}

#running-leprechaun,
#chasing-paddy
{
    opacity: 0;
    position: absolute;
    height: 300px;
    width: 500px;
    right: 50%;
    transition: opacity .3s ease-in-out;
    animation: runLeprechaunRun 4s ease-in-out 1;
}
#chasing-paddy
{
    transform: scaleX(-1);
    animation-delay: 1.5s;
}
@keyframes runLeprechaunRun
{
    0%
    {
        opacity: 0;
        right: -10%;
    }
    28%
    {
        opacity: 1;
    }
    78%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        right: 100%;
    }
}

#intro-animation.hide 
{
    transition: opacity .3s ease-in-out;
    animation: fadeOut 1.4s forwards;
    animation-delay: 4s;
}
@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.greeting-card 
{
    width: 600px;
    height: 600px;
    overflow: hidden;
}

#greeting-card, #greeting-card-snap 
{
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px var(--light-shadow);
    transition: all 1s ease-in-out;
    animation: afterSnapSlide 2.2s;
}
@keyframes afterSnapSlide
{
    0%, 20%
    {
        transform: translateX(50%);
    }
}

#greeting-card-snap:hover
{
    transform: translateX(50%);
}

#greeting-card-text {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

#greeting-card-cover
{
    background: url('/static/img/profile_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    z-index: 5;
    animation: afterSnap 2.2s;
}

/* ANIMATION SHOWS CARD AFTER SNAP TAKEN */
@keyframes afterSnap
{
    0%,20%
    {
        transform: rotateY(-180deg);
    }
}

/* OPEN CARD ON HOVER */
#greeting-card-snap:hover #greeting-card-cover
{
    transform: rotateY(-180deg);
}

/* END ANIMATIONS */


/* CARD CUTOUTS */

#greeting-card-cutout
{
    width: 100%;
    height: 100%;
    background: url('/static/img/hackpaddy-square.png');
    background-position: top center;
    background-size: cover;
    object-fit: contain;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting-card-camera
{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#greeting-card-camera video, #greeting-card-image
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#greeting-card-canvas, #greeting-card-image
{
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    display:none;
}

#greeting-card-image.show
{
    display:block;
}

#startbutton, #clearbutton, #snapbutton
{
    margin-top: 20px;
    font-size: 24px;
    padding: 10px 20px
}

i {
    margin-right: 10px;
}

#clearbutton, #snapForm
{
    display:none;
}

.snap-file
{
    display: none;
}

/* Corner frame */
.corner-frame img
{
    overflow: hidden;
    position: absolute;
    width: 30%;
}

.top-left img
{
    top: -2%;
    left: -1%;
}

.bottom-right img
{
    bottom: -3%;
    right: -1%;
}

@media screen and (min-width: 1024px)
{
    .corner-frame img
    {
        width: 25%;
    }

    .top-left img
    {
        top: -3%;
        left: -3%;
    }

    .bottom-right img
    {
        bottom: -3%;
        right: -3%;
    }
}