{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Hackmentors - Paddy's Greeting Card
        </title>    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/16a4361209.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mt-3" id="greeting-card">
                        <div id="greeting-card-cutout"></div>
                        <div class="camera" id="greeting-card-camera">
                            <video id="video" autoplay="true">Video stream not available.</video>
                        </div>
                        <canvas id="greeting-card-canvas"></canvas>
                        <img id="greeting-card-image">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button id="startbutton" class="btn btn-primary">
                        <i class="fas fa-camera-retro"></i><span class="pl-3">Take photo</span>
                    </button>
                    <button id="clearbutton" class="btn btn-primary">
                        <i class="fas fa-redo"></i><span class="pl-3">Re-take photo</span>
                    </button>

                    <form method="POST" action="save/" id="snapForm">
                        {% csrf_token %}
                        <input type="hidden" name="cutout" id="input-cutout">
                        <input type="hidden" name="snap-file" id="input-snap-file">
                        <button id="snapbutton" class="btn btn-success">
                            Create Paddy Snap!
                        </button>
                    </form>

                </div>
            </div>
        </div>
        
        <script>
             var width = 320;    // We will scale the photo width to this
            var height = 0;     // This will be computed based on the input stream

            var streaming = false;

            var video = null;
            var canvas = null;
            var photo = null;
            var startbutton = null;
            var clearbutton = null;

            startup();

            function startup() {
                video = document.getElementById('video');
                canvas = document.getElementById('greeting-card-canvas');
                photo = document.getElementById('greeting-card-image');
                startbutton = document.getElementById('startbutton');
                clearbutton = document.getElementById('clearbutton');

                if (navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                    .then(function(stream) {
                        console.log("hey")
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function(err) {
                        console.log("An error occurred: " + err);
                    });
                }

                video.addEventListener('canplay', function(ev){
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth/width);
                    
                        video.setAttribute('width', '100%');
                        video.setAttribute('height', '100%');
                        console.log(`Height x Width: ${video.videoWidth} x ${video.videoHeight}`)
                        canvas.setAttribute('width', video.videoWidth);
                        canvas.setAttribute('height', video.videoHeight);
                        streaming = true;
                    }
                }, false);

                startbutton.addEventListener('click', function(ev){
                    takepicture();
                    ev.preventDefault();
                }, false);

                clearbutton.addEventListener('click', function(ev){
                    clearphoto();
                    ev.preventDefault();
                }, false);
            }

            function clearphoto() {
                var context = canvas.getContext('2d');
                context.fillStyle = "#AAA";
                context.fillRect(0, 0, canvas.width, canvas.height);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);

                toggleReset();
            }

            function takepicture() {
                var context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
                
                let inputCutout = document.getElementById('input-cutout');
                let inputSnapFile = document.getElementById('input-snap-file');
                let greetingCardCutout = document.getElementById('greeting-card-cutout');
                inputSnapFile.value = data;
                let backgroundImgUrl = window.getComputedStyle(greetingCardCutout).backgroundImage;
                let background = backgroundImgUrl.replace('url("', '').replace('")', '');
                background = background.split('/')
                background.splice(0, 3)
                let bImge = '/' + background.join('/')
                console.log(bImge)
                inputCutout.value = bImge;

                toggleReset();
            }

            function toggleReset(){
                $(video).toggle();
                $(photo).toggle();
                $(startbutton).toggle()
                $(clearbutton).toggle()
            }

            $('#snapForm').submit(function(){

            })
        </script>
    </body>
</html>