{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- COMMENTED OUT THE INTRO ANIMATION FOR NOW -->

<div id="intro-animation" class="container-fluid">
    <h1>Paddy Snap</h1>
    <div id="running-leprechaun">
        <h2>Nya ha ha..</h2>
        <img src="/static/img/leprechaun_gold.gif" alt="leprechaun running with bag of gold">
    </div>
    <div id="chasing-paddy">
        <img src="/static/img/paddy_chasing.webp" alt="paddy running">
    </div>
</div>    

<div class="has-greeting-card">
    <div class="row">
        <div class="col-12 greeting-card-col">
            <div class="card" id="greeting-card" class="greeting-card">
                <div id="greeting-card-cutout" class="greeting-card"></div>
                <div class="camera" id="greeting-card-camera">
                    <video id="video" autoplay="true">Video stream not available.</video>
                </div>
                <canvas id="greeting-card-canvas"></canvas>
                <div class="greeting-card">
                    <img id="greeting-card-image">
                </div>
            </div>
        </div>
        <div id="snap-buttons" class="col text-center">
            <button id="startbutton" class="">
                <i class="fas fa-camera"></i>
            </button>
    
            <form method="POST" action="save/" id="snapForm" class="text-center">
                {% csrf_token %}
                <input type="hidden" name="cutout" id="input-cutout">
                <input type="hidden" name="snap-file" id="input-snap-file">
                <button id="snapbutton" class="">
                    <i class="fas fa-palette"></i>
                </button>
            </form>
    
            <button id="clearbutton" class="">
                <i class="fas fa-redo"></i>
            </button>
    
        </div>
    </div>
</div>

<div class="row">
    
</div>



{% endblock %}

{% block js %}

<!-- INTRO ANIMATIONS COMMENTED OUT FOR NOW -->
<script>
    let introAnim = document.getElementById('intro-animation');

    window.addEventListener('load', () => {
    
    introAnim.classList.add('hide');
    
  });
</script>
<script>

let width = 500;    // We will scale the photo width to this
let height = 500;     // This will be computed based on the input stream

let streaming = false;

let video = null;
let canvas = null;
let photo = null;
let startbutton = null;
let clearbutton = null;
let inputCutout = null;
let inputSnapFile = null;
let cutout = null;
let snapForm = null;

checkMobile();
window.onresize = function(){
    console.log("Resizing")
    checkMobile();
}

startup();

function checkMobile(){
    var isTablet = function(){
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        return isTablet;
    }
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    if (isTablet()){
        width = window.innerWidth - 300;
        height = window.innerWidth - 300;
        document.getElementById('greeting-card').style.width = width + 'px';
        document.getElementById('greeting-card').style.height = height + 'px';
        $('button i').addClass('fa-2x');
    }
    else if(isMobile.any()){
        console.log( window.innerWidth);
        width = window.innerWidth - 80;
        height = window.innerWidth - 80;
        document.getElementById('greeting-card').style.width = width + 'px';
        document.getElementById('greeting-card').style.height = height + 'px';
        $('button i').addClass('fa-2x');
    } else {
        document.getElementById('greeting-card').style.width = '500px';
        document.getElementById('greeting-card').style.height = '500px';
        $('button i').removeClass('fa-2x');
    }
}

function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('greeting-card-canvas');
    photo = document.getElementById('greeting-card-image');
    cutout = document.getElementById('greeting-card-cutout');
    startbutton = document.getElementById('startbutton');
    clearbutton = document.getElementById('clearbutton');
    snapForm = document.getElementById('snapForm');
    inputCutout = document.getElementById('input-cutout');
    inputSnapFile = document.getElementById('input-snap-file');
    

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then(function(stream) {
            console.log("hey")
            video.srcObject = stream;
            video.play();
        })
        .catch(function(err) {
            console.log("An error occurred: " + err);
        });
    }

    video.addEventListener('canplay', function(ev){
        if (!streaming) {
            height = video.videoHeight / (video.videoWidth/width);
            
            video.setAttribute('height', '100%');
            canvas.setAttribute('width', video.videoWidth);
            canvas.setAttribute('height', video.videoHeight);
            streaming = true;
        }
    }, false);

    startbutton.addEventListener('click', function(ev){
        takepicture();
        ev.preventDefault();
    }, false);

    clearbutton.addEventListener('click', function(ev){
        clearphoto();
        ev.preventDefault();
    }, false);
}

function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);

    toggleReset();
}

function takepicture() {
    var context = canvas.getContext('2d');
    let drawStartX = 0;
    let drawStartY = 0;

    if(video.videoWidth > width){
        drawStartX = ((width - video.videoWidth) / 2);
    }

    context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

    var data = canvas.toDataURL('image/png');
    console.log(data)
    photo.setAttribute('src', data);
    inputSnapFile.value = data;
    let backgroundImgUrl = window.getComputedStyle(cutout).backgroundImage;
    let background = backgroundImgUrl.replace('url("', '').replace('")', '');
    background = background.split('/')
    background.splice(0, 3)
    let bImge = '/' + background.join('/')
    console.log(bImge)
    inputCutout.value = bImge;

    toggleReset();
}

function toggleReset(){
    if($(startbutton).css('display') != 'none'){
        $(video).hide();
        $(photo).show();
        if(photo.width < width){
            photo.classList.add('greeting-card-image-center');
        }
        $(startbutton).hide();
        $(clearbutton).css('display', 'inline-block');
        $(snapForm).css('display', 'inline-block');
    } else {
        $(video).show();
        $(photo).hide();
        $(startbutton).css('display', 'inline-block');
        $(clearbutton).hide();
        $(snapForm).hide();
    }
    
}
</script>
{% endblock %}
